* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	font-size: 16px;
}

:root {
	--main-color: #fff;
	--main-text-color: #2a2a2a;
	--primary-color: #fa65b1;
}

.dark-mode {
	--main-color: #2a2a2a;
	--main-text-color: #fff;
	--primary-color: #fa65b1;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

.container {
	width: 85%;
	margin: 0 auto;
}

/* Start Pre Header Section */

.pre-header {
	padding: 10px 0;
	background-color: #efefef;
	font-size: 16px;
}

.pre-header .toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 0;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	background-color: var(--main-color);
	transition: 0.5s all;
}

.pre-header .toggle svg {
	color: var(--main-text-color);
}

.pre-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pre-header .container .info {
	display: flex;
	align-items: center;
	gap: 45px;
}

.pre-header .container .info a {
	color: #afafaf;
	display: flex;
	align-items: center;
	gap: 5px;
	transition: 0.2s all ease-in;
}

.pre-header .container .info a:hover {
	color: var(--primary-color);
}

.pre-header .container .info .email svg {
	font-size: 19px;
}

.pre-header .social-media-links .social-list {
	display: flex;
	list-style: none;
	gap: 15px;
}

.pre-header .social-media-links .social-list .social-item a {
	background-color: #afafaf;
	color: #fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	transition: all 0.3s;
}

.pre-header .social-media-links .social-list .social-item a svg {
	font-size: 17px;
}

.pre-header .social-media-links .social-list .social-item a:hover {
	background-color: var(--primary-color);
}

@media (max-width: 860px) {
	.pre-header .container .info .tel {
		display: none;
	}
}

@media (max-width: 620px) {
	.pre-header {
		padding: 15px 35px;
	}
	.pre-header .container {
		flex-direction: column;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}
}

/* Start Pre Header Section */

/* Start Header Section */

#header {
	position: sticky;
	top: 0;
	z-index: 15555;
	padding: 20px 0;
	box-shadow: 0px 5px 8px rgb(0 0 0 / 3%);
	background-color: var(--main-color);
	border-bottom: 2px solid var(--main-text-color);
	transition: 0.3s all;
}

#header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .container .menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 28px;
	display: none;
}

#header .container .menu svg {
	color: var(--main-text-color);
	transition: 0.3s all;
}

#header .container .navbar {
	display: flex;
	align-items: center;
	gap: 35px;
	font-size: 15px;
	font-weight: 500;
}

#header .container .navbar .nav-list {
	display: flex;
	list-style: none;
	gap: 25px;
}

#header .container .navbar .nav-list .nav-item .nav-link {
	position: relative;
	transition: 0.3s all ease;
	letter-spacing: 1px;
}

#header .container .navbar .nav-list .nav-item .nav-link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--primary-color);
	transition: 0.3s all ease;
}

#header .container .navbar .nav-list .nav-item .nav-link:hover {
	color: var(--primary-color);
}

#header .container .navbar .nav-list .nav-item .nav-link.active {
	color: #fa65b1;
}

#header .container .navbar .nav-list .nav-item .nav-link.active::before {
	width: 100%;
}

.free-qoute {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 40px;
	color: var(--primary-color);
	text-align: center;
	border: 2px solid var(--primary-color);
	border-radius: 25px;
	transition: 0.3s all;
}

.free-qoute:hover {
	background-color: var(--primary-color);
	color: var(--main-color);
}

@media (max-width: 1000px) {
	#header .container {
		flex-direction: column;
		gap: 15px;
	}
}

@media (max-width: 767px) {
	#header {
		position: relative;
	}

	#header .container {
		flex-direction: row;
	}
	#header .container .navbar {
		position: absolute;
		display: flex;
		top: 104px;
		left: 0;
		flex-direction: column;
		justify-content: center;
		gap: 12px;
		width: 100%;
		height: 0;
		overflow: hidden;
		background-color: var(--main-color);
		border-top: 1px solid #fff;
		transition: 0.3s all ease;
		z-index: 155;
	}
	#header .container .navbar.active {
		height: 270px;
	}
	#header .container .navbar .nav-list {
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}
	#header .container .menu {
		display: flex;
	}
}

/* End Header Section */

/* Start Home Section */

.home-sec {
	position: relative;
	width: 100%;
	background-color: var(--main-color);
	transition: 0.3s all;
	color: var(--main-text-color);
}

.home-sec .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.home-sec .container .left {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.home-sec .container p:first-of-type {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 23px;
}

.home-sec .container h1 {
	font-size: 50px;
}

.home-sec .container p:last-of-type {
	font-weight: 300;
	color: #afafaf;
	width: 550px;
	line-height: 30px;
	font-size: 15px;
}

.home-sec .container .free-qoute {
	margin-top: 5px;
}

.home-sec .container img {
	width: 600px;
}

@media (max-width: 1410px) {
	.home-sec {
		padding: 60px 0;
		text-align: center;
	}
	.home-sec .container {
		justify-content: center;
	}
	.home-sec .container p:first-of-type {
		font-size: 16px;
	}
	.home-sec .container h1 {
		font-size: 35px;
	}

	.home-sec .free-qoute {
		margin: 0 auto;
	}
	.home-sec .container img {
		width: 80%;
	}
}

@media (max-width: 700px) {
	.home-sec .container p:last-of-type {
		width: 100%;
		font-size: 13px;
		font-weight: 400;
	}

	.home-sec .container h1 {
		font-size: 25px;
	}
	.home-sec .container img {
		width: 100%;
	}
}
/* End Home Section */

/* Start About Section */

.about {
	background-color: var(--main-color);
	padding: 35px 0;
}

.about .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.about .container .right {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.about .container .right h4:first-of-type {
	text-transform: uppercase;
	color: #726ae3;
}

.about .container .right h1 {
	font-size: 40px;
	color: var(--main-text-color);
}

.about .container .right h1 span {
	color: #726ae3;
}

.about .container .right .line {
	position: relative;
	margin-bottom: 12px;
}

.about .container .right .line::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2.5px;
	background-color: #726ae3;
}

.about .container .right p:last-of-type {
	font-weight: 300;
	color: #afafaf;
	font-size: 15px;
	width: 650px;
	line-height: 25px;
}

.about .container .right p:last-of-type a {
	color: #0d6efd;
	font-weight: 500;
}

.progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.progress .progress1,
.progress .progress2,
.progress .progress3 {
	position: relative;
	width: 150px;
	height: 150px;
}

.progress .progress1 svg,
.progress .progress2 svg,
.progress .progress3 svg {
	position: relative;
	width: 150px;
	height: 150px;
}

.progress .progress1 svg circle,
.progress .progress2 svg circle,
.progress .progress3 svg circle {
	width: 150px;
	height: 150px;
	fill: none;
	stroke-width: 5;
	transform: translate(2px, 7px);
	stroke-dasharray: 440;
}

.progress .progress1 .text,
.progress .progress2 .text,
.progress .progress3 .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main-text-color);
	padding: 10px;
}

.progress .progress1 .text h2,
.progress .progress2 .text h2,
.progress .progress3 .text h2 {
	font-size: 35px;
}

.progress .progress1 .text h5,
.progress .progress2 .text h5,
.progress .progress3 .text h5 {
	color: #afafaf;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 15px;
}

@media (max-width: 1410px) {
	.about {
		text-align: center;
	}
	.about .container {
		justify-content: center;
		gap: 20px;
	}
	.about .container .left img {
		width: 80%;
	}
	.about .container .right .line {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 760px) {
	.about .container .right h1 {
		font-size: 25px;
	}
	.about .container .right p:last-of-type {
		width: 100%;
		font-size: 13px;
	}
	.about .container .progress {
		flex-direction: column;
		gap: 15px;
	}
}

/* End About Section */

/* Start Services Section */

.services {
	padding: 40px 0;
	background-color: var(--main-color);
}

.services .hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: var(--main-text-color);
}

.services .hero-text h4 {
	color: #726ae3;
	text-transform: uppercase;
}

.services .hero-text h1 {
	font-size: 30px;
}

.services .hero-text h1 span {
	color: #726ae3;
}

.services .hero-text .line {
	position: relative;
	margin-top: 15px;
}

.services .hero-text .line::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 3px;
	background-color: #726ae3;
}

.services .hero-text .line::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 3px;
	background-color: #726ae3;
}

.services .services-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	color: var(--main-text-color);
	margin-top: 55px;
	flex-wrap: wrap;
}

.services .services-list .service {
	width: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	padding: 20px 30px;
	box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s all ease;
}

.services .services-list .service.active {
	transform: translate(0, -15px);
}

.services .container .service-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
	margin-top: 50px;
	padding: 80px;
	transition: 0.5s all ease;
}

.services .container .service-content h1 {
	color: var(--primary-color);
	margin-bottom: 15px;
}

.services .container .service-content .services-info {
	width: 320px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin: 25px 0;
	color: var(--main-text-color);
}

.services .container .service-content .services-info .info {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.services .container .service-content .services-info .info svg {
	font-size: 20px;
}

.services .container .service-content .text-muted {
	width: 500px;
	font-size: 15px;
}

.text-muted {
	color: #afafaf;
}

@media (max-width: 1290px) {
	.services .container .service-content {
		justify-content: center;
		text-align: center;
		gap: 25px;
	}
	.services .container .service-content img {
		width: 100%;
	}
	.services .container .left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.services .container .service-content .services-info {
		justify-content: center;
	}
}

@media (max-width: 767px) {
	.services .container .service-content {
		padding: 35px;
		font-size: 16px;
	}
	.services .container .service-content .left h1 {
		font-size: 18px;
	}
	.services .container .service-content img {
		width: 100%;
	}
	.services .container .service-content .left .text-muted {
		width: 100% !important;
		font-size: 13px;
	}
	.services .container .service-content .services-info {
		width: 100%;
		font-size: 13px;
	}
}
/* End Services Section */
